.sponsers {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.sponsers .our-sponsers {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.sponsers .our-sponsers img {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .sponsers .our-sponsers {
    flex-direction: column;
  }
}
